.projects-container{
    color: var(--font-color);
    font-family: "Poppins" !important;
}
.projects-detail h3{
    font-weight: bolder;
}

.projects-detail-name .projects-card-image{
    border-radius: 1.5rem;
    overflow: hidden;
    width: 310px;
    height: 233px;
}
.projects-detail-name .card{
    border-radius: 5px !important;
    padding: 1.4rem;
    width: 354px;
    transition: all 0.3s ease-in-out;
}
.projects-detail-name .card:hover{
    transform: scale(1.02);
    color: var(--white);
    background-color: #1f2235;
}
.projects-detail-name .projects-card .projects-card-name{
    font-weight: bolder;
    font-size: larger;
}
.projects-detail-name .projects-card .projects-card-desc{
    font-size: larger;
    height: 22vh;
}
.github-link{
    font-family: "Poppins SemiBold";
    color: var(--white);
    border: 2px solid linen;
    background-color: #1f2235;
    padding: 0.625rem 1.5rem;
}
.github-link:hover{
    color: aliceblue;
    border: 2px solid #ff5823;
    background-color: #1f2235;
}
.live-demo {
    font-family: "Poppins SemiBold";
    text-decoration: none;
    padding: 0.625rem 1.5rem;
    color: var(--white);
    border: 2px solid linen;
    background-color: #ff5823;
}
.live-demo:hover {
    color: aliceblue;
    border: 2px solid #1f2235;
}

@media screen and (min-width: 1024px) {
    .projects-parent{
        padding-top: 10%;
    } 
}
@media screen and (max-width: 1023px) {
    .projects-container{
        margin-bottom: 10%;
    }
}

/* 
@media screen and (min-width: 1024px) {
  .projects-parent{
        padding-top: 7%;
    } 
}
@media screen and (max-width:1023px) {
    .projects-parent{
        padding-top: 20%;
    } 
}
 */
