.skills .card{
    width: 150px;
    border-radius: 5px !important;
    border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
}

.skills .card:hover{
    cursor: pointer;
    transform: scale(1.06);
}

.tech-icons {
    width: 60px !important;
    height: 60px !important;
} 

.skills .card h2{
    display: inline-flex !important;
}

.skills .card p{
    color: var(--font-color);
    font-weight: bolder;
}
@media screen and (max-width: 1023px) {
    .skills{
        margin-bottom: 10%;
    }
}