.home-container{
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-image: url("../../assets/images/bg.jpg");
    
}
@media (max-width: 991px) {
    .profile{
        padding-top: 10%;
    }
}