.contact-card{
    color: var(--white);
    font-family: "Poppins";
    border-radius: 5px !important;
    vertical-align: middle !important;
    text-align: center !important;
    background-color: var(--font-color);
    padding: 13px 0 0 13px;
}
.contact-detail .h6{
    font-family: "Poppins";
}
.user-details p{
    font-size: large;
}
.user-details  a{
    color: inherit;
}
.user-details .user-icons {
    color: #eef7ff;
    font-size: 3em;
    display: inline-flex;
}

.user-details .user-icons a:hover{
    color: #eef7ff;
    transform: scale(1.5);
}

.user-details .icons{
    margin-right: 12px;
    font-size: 20px;
    color: #0563bb;
    float: left;
    width: 44px;
    height: 44px;
    background: #eef7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.user-details .user-location:hover > .icons{
    color: #eef7ff;
    background: var(--dark-orange);
    transition: all 0.3s ease-in-out;
}
.contact-detail h3{
    color: var(--font-color);
    font-weight: bolder;
    font-family: "Poppins";
}
.user-details .user-details-contacts h4 {
    color: #eef7ff;
    font-size: 24px;
    font-family: "Poppins SemiBold";
}
.user-details .user-details-contacts h6 {
    color: var(--font-color);
    font-size: 24px;
    font-family: "Poppins SemiBold";
}
.user-details .user-details-contacts p {
    color: #eef7ff;;
    font-family: "Poppins SemiBold";
}
.user-details .user-details-contacts a:hover {
    color: var(--dark-orange);
}
.user-details-contacts{
    text-align: start !important;
}

@media screen and (min-width: 1024px) {
    .contact-container{
        height: 100vh;
    }
    .contact-parent{
        padding-top: 7%;
    } 
    .contact-card{
        padding-top:10%;
    }
    .contact-form{
        width: 42vw;
        margin-left: -15%;
    } 
    .user-details-info {
        position: absolute;
        top: 12%;
        left: 2%;
        text-align: start !important;
    }
    .message{
        position: absolute;
        top: 5%;
        left: 2%;
        text-align: start !important;
    }
}
@media screen and (max-width:1023px) {
    .contact-parent{
        padding-top: 20%;
    } 
    .contact-form{
        margin-bottom: 10%;
    } 
    .user-details .user-icons {
        font-size: 2.5em;
    }
    .user-details-info { 
        margin-top: 2%;
        margin-bottom: 3%;
        text-align: start !important;
    }
    .message{
        
        font-weight: bolder !important;;
        text-align: start !important;
    }
  
} 