.contact-container{
    padding-bottom: 12px;
}
.contact-detail h3{
    font-weight: bolder;
}
.contact-container .contact-parent .card{
    background-color: var(--font-color);
    color: var(--white);
}
.card-info .card-message .message{ 
    font-weight: bolder !important;;
    text-align: start !important;
}
.card-info .card-message .user-details-info .user-icons a{
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5em;
    display: inline-flex;
    color: var(--white);
}
.card-message .user-details-info .user-icons a:hover{
    color: var(--white);
    transform: scale(1.5);
}
.card-info .user-details-contacts {
    margin-top: 10%;
}
.card-info .user-details-contacts .icons{
    margin-right: 12px;
    font-size: 20px;
    color: #0563bb;
    float: left;
    width: 44px;
    height: 44px;
    background: #eef7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.card-info .user-details-contacts .user-location:hover > .icons{
    color: #eef7ff;
    background: var(--dark-orange);
    transition: all 0.3s ease-in-out;
}
.card-info .user-details-contacts h4{
    margin-top: 10%;
    color: var(--white);
    font-size: 24px;
}
.card-info .user-details-contacts p{
    color: var(--white);
}
.card-info .user-details-contacts a {
    color: var(--white);
}
.card-info .user-details-contacts a:hover {
    color: var(--dark-orange);
}
.user-details-contacts h4{
    text-align: start;
}

@media screen and (min-width: 1024px) {
    .contact-parent{
        padding-top: 7%;
    } 
}